<ul>

    <div class="active-indicator"></div>
    <li>
        <a href="dashboard.html" class="link">
            <i data-lucide="layout-dashboard"></i>
            Dashboard
        </a>
    </li>

    <li>
        <a href="pos.html" class="link">
            <i data-lucide="shopping-cart"></i>
            POS
        </a>
    </li>

    <li>
        <a href="products.html" class="link">
            <i data-lucide="box"></i>
            Products
        </a>
    </li>

    <li>
        <a href="inventory.html" class="link">
            <i data-lucide="layers"></i>
            Inventory
        </a>
    </li>

    <li>
        <a href="sales.html" class="link">
            <i data-lucide="receipt"></i>
            Sales
        </a>
    </li>

    <li>
        <a href="staff.html" class="link">
            <i data-lucide="users"></i>
            Staff
        </a>
    </li>

    <li>
        <a href="settings.html" class="link">
            <i data-lucide="settings"></i>
            Settings
        </a>
    </li>

</ul>

<div class="sidebar-bottom">
  <img src="CafeLogo.svg" alt="Casa Cafe" />
</div>

